---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>About</h1>
  <section>
    <h2>프로젝트 소개</h2>
    <p>
      이 프로젝트는 Astro와 React를 같이 사용하는 프로젝트
    </p>
  </section>
  <section>
    <h2>기술 스택</h2>
    <ul>
      <li>SSG: Astro</li>
      <li>Component: React</li>
      <li>Store: Nano Stores</li>
      <li>HTTP Client: Axios</li>
      <li>CSS: Vanilla Extract</li>
      <li>Linter, Fomatter: Biome</li>
      <li>Hook: SWR</li>
      <li>Language: Typescript</li>
    </ul>
  </section>
</Layout>