---
import SmallModal from '../shared/modal/\bSmallModal';

interface Props {
  title?: string
}

const { title = "Astro React Practice" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preload" as="image" href="/banner.webp" />
    <link rel="dns-prefetch" href="https://i.imgur.com"/>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/cart">Cart</a>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <SmallModal client:load/>
  </body>
</html>